<select [(ngModel)]="keyboardType">
  <option value="piano">Piano</option>
  <option value="majorblues">Major Blues</option>
  <option value="minorblues">Minor Blues</option>
  <option value="ionic">Ionic</option>
</select>  {{ keyboardType }}
<svg *ngIf="keyboardType === 'piano'" viewBox="0,0,400,150" version="1.1" id="Layer_1"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     style="enable-background:new 0 0 161 120;" xml:space="preserve">
<style type="text/css">
	.st0 {
    fill: #FFFFFF;
    stroke: #000000;
  }

  .st1 {
    stroke: #000000;
  }
</style>
<rect (touchstart)="playNote('C3')" (touchend)="stopNote('C3')"
			(poomousedown)="playNote('C3')" (poomouseup)="stopNote('C3')"
			(touchleave)="stopNote('C3')"
			class="st0" width="23" height="120"/>
<rect x="23"
			(touchstart)="playNote('D3')" (touchend)="stopNote('D3')"
			(poomousedown)="playNote('D3')" (poomouseup)="stopNote('D3')"
			(touchleave)="stopNote('D3')"
			class="st0" width="23" height="120"/>
<rect x="46"
			(touchstart)="playNote('E3')" (touchend)="stopNote('E3')"
			(poomousedown)="playNote('E3')" (poomouseup)="stopNote('E3')"
			(touchleave)="stopNote('E3')"
			class="st0" width="23" height="120"/>
<rect x="69"
			(touchstart)="playNote('F3')" (touchend)="stopNote('F3')"
			(poomousedown)="playNote('F3')" (poomouseup)="stopNote('F3')"
			(touchleave)="stopNote('F3')"
			class="st0" width="23" height="120"/>
<rect x="92"
			(touchstart)="playNote('G3')" (touchend)="stopNote('G3')"
			(poomousedown)="playNote('G3')" (poomouseup)="stopNote('G3')"
			(touchleave)="stopNote('G3')"
			class="st0" width="23" height="120"/>
<rect x="115"
			(touchstart)="playNote('A3')" (touchend)="stopNote('A3')"
			(poomousedown)="playNote('A3')" (poomouseup)="stopNote('A3')"
			(touchleave)="stopNote('A3')"
			class="st0" width="23" height="120"/>
<rect x="138"
			(touchstart)="playNote('B3')" (touchend)="stopNote('B3')"
			(poomousedown)="playNote('B3')" (poomouseup)="stopNote('B3')"
			(touchleave)="stopNote('B3')"
			class="st0" width="23" height="120"/>
<rect x="14.3"
			(touchstart)="playNote('C#3')" (touchend)="stopNote('C#3')"
			(poomousedown)="playNote('C#3')" (poomouseup)="stopNote('C#3')"
			(touchleave)="stopNote('C#3')"
			class="st1" width="13" height="80"/>
<rect x="41.7"
			(touchstart)="playNote('D#3')" (touchend)="stopNote('D#3')"
			(poomousedown)="playNote('D#3')" (poomouseup)="stopNote('D#3')"
			(touchleave)="stopNote('D#3')"
			class="st1" width="13" height="80"/>
<rect x="82.2"
			(touchstart)="playNote('F#3')" (touchend)="stopNote('F#3')"
			(poomousedown)="playNote('F#3')" (poomouseup)="stopNote('F#3')"
			(touchleave)="stopNote('F#3')"
			class="st1" width="13" height="80"/>
<rect x="108.2"
			(touchstart)="playNote('G#3')" (touchend)="stopNote('G#3')"
			(poomousedown)="playNote('G#3')" (poomouseup)="stopNote('G#3')"
			(touchleave)="stopNote('G#3')"
			class="st1" width="13" height="80"/>
<rect x="134.8"
			(touchstart)="playNote('A#3')" (touchend)="stopNote('A#3')"
			(poomousedown)="playNote('A#3')" (poomouseup)="stopNote('A#3')"
			(touchleave)="stopNote('A#3')"
			class="st1" width="13" height="80"/>
<rect x="161"
			(touchstart)="playNote('C4')" (touchend)="stopNote('C4')"
			(poomousedown)="playNote('C4')" (poomouseup)="stopNote('C4')"
			(touchleave)="stopNote('C4')"
			class="st0" width="23" height="120"/>
<rect x="184"
			(touchstart)="playNote('D4')" (touchend)="stopNote('D4')"
			(poomousedown)="playNote('D4')" (poomouseup)="stopNote('D4')"
			(touchleave)="stopNote('D4')"
			class="st0" width="23" height="120"/>
<rect x="207"
			(touchstart)="playNote('E4')" (touchend)="stopNote('E4')"
			(poomousedown)="playNote('E4')" (poomouseup)="stopNote('E4')"
			(touchleave)="stopNote('E4')"
			class="st0" width="23" height="120"/>
<rect x="230"
			(touchstart)="playNote('F4')" (touchend)="stopNote('F4')"
			(poomousedown)="playNote('F4')" (poomouseup)="stopNote('F4')"
			(touchleave)="stopNote('F4')"
			class="st0" width="23" height="120"/>
<rect x="253"
			(touchstart)="playNote('G4')" (touchend)="stopNote('G4')"
			(poomousedown)="playNote('G4')" (poomouseup)="stopNote('G4')"
			(touchleave)="stopNote('G4')"
			class="st0" width="23" height="120"/>
<rect x="276"
			(touchstart)="playNote('A4')" (touchend)="stopNote('A4')"
			(poomousedown)="playNote('A4')" (poomouseup)="stopNote('A4')"
			(touchleave)="stopNote('A4')"
			class="st0" width="23" height="120"/>
<rect x="299"
			(touchstart)="playNote('B4')" (touchend)="stopNote('B4')"
			(poomousedown)="playNote('B4')" (poomouseup)="stopNote('B4')"
			(touchleave)="stopNote('B4')"
			class="st0" width="23" height="120"/>
<rect x="175.3"
			(touchstart)="playNote('C#4')" (touchend)="stopNote('C#4')"
			(poomousedown)="playNote('C#4')" (poomouseup)="stopNote('C#4')"
			(touchleave)="stopNote('C#4')"
			class="st1" width="13" height="80"/>
<rect x="199.7"
			(touchstart)="playNote('D#4')" (touchend)="stopNote('D#4')"
			(poomousedown)="playNote('D#4')" (poomouseup)="stopNote('D#4')"
			(touchleave)="stopNote('D#4')"
			class="st1" width="13" height="80"/>
<rect x="246.2"
			(touchstart)="playNote('F#4')" (touchend)="stopNote('F#4')"
			(poomousedown)="playNote('F#4')" (poomouseup)="stopNote('F#4')"
			(touchleave)="stopNote('F#4')"
			class="st1" width="13" height="80"/>
<rect x="272.2"
			(touchstart)="playNote('G#4')" (touchend)="stopNote('G#4')"
			(touchleave)="stopNote('G#4')"
			class="st1" width="13" height="80"/>
<rect x="294.8"
			(touchstart)="playNote('A#4')" (touchend)="stopNote('A#4')"
			(touchleave)="stopNote('A#4')"
			class="st1" width="13" height="80"/>
</svg>
<svg *ngIf="keyboardType === 'majorblues'" viewBox="0,0,600,150" version="1.1" id="Layer_1"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     style="enable-background:new 0 0 161 120;" xml:space="preserve">
<style type="text/css">
  .st0 {
    fill: #FFFFFF;
    stroke: #000000;
  }

  .st1 {
    stroke: #000000;
  }
</style>
<rect (touchstart)="playNote('C2')"
			(touchend)="stopNote('C2')"
			class="st0" width="23" height="120"/>
<rect x="23"
			(touchstart)="playNote('D2')"
			(touchend)="stopNote('D2')"
			class="st0" width="23" height="120"/>
<rect x="46"
			(touchstart)="playNote('D#2')" (touchend)="stopNote('D#2')"
			(touchleave)="stopNote('D#2')"
			class="st0" width="23" height="120"/>
<rect x="69"
			(touchstart)="playNote('E2')" (touchend)="stopNote('E2')"
			(touchleave)="stopNote('E2')"
			class="st0" width="23" height="120"/>
<rect x="92"
			(touchstart)="playNote('G2')" (touchend)="stopNote('G2')"
			(touchleave)="stopNote('G2')"
			class="st0" width="23" height="120"/>
<rect x="115"
			(touchstart)="playNote('A2')" (touchend)="stopNote('A2')"
			(touchleave)="stopNote('A2')"
			class="st0" width="23" height="120"/>

<rect x ="138" (touchstart)="playNote('C3')" (touchend)="stopNote('C3')"
			(touchleave)="stopNote('C3')"
			class="st0" width="23" height="120"/>
<rect x="161"
			(touchstart)="playNote('D3')" (touchend)="stopNote('D3')"
			(touchleave)="stopNote('D3')"
			class="st0" width="23" height="120"/>
<rect x="184"
			(touchstart)="playNote('D#3')" (touchend)="stopNote('D#3')"
			(touchleave)="stopNote('D#3')"
			class="st0" width="23" height="120"/>
<rect x="207"
			(touchstart)="playNote('E3')" (touchend)="stopNote('E3')"
			(touchleave)="stopNote('E3')"
			class="st0" width="23" height="120"/>
<rect x="230"
			(touchstart)="playNote('G3')" (touchend)="stopNote('G3')"
			(touchleave)="stopNote('G3')"
			class="st0" width="23" height="120"/>
<rect x="253"
			(touchstart)="playNote('A3')" (touchend)="stopNote('A3')"
			(touchleave)="stopNote('A3')"
			class="st0" width="23" height="120"/>

<rect x="276"
      (touchstart)="playNote('C4')" (touchend)="stopNote('C4')"
			(touchleave)="stopNote('C4')"
			class="st0" width="23" height="120"/>
<rect x="299"
			(touchstart)="playNote('D4')" (touchend)="stopNote('D4')"
			(touchleave)="stopNote('D4')"
			class="st0" width="23" height="120"/>
<rect x="322"
			(touchstart)="playNote('D#4')" (touchend)="stopNote('D#4')"
			(touchleave)="stopNote('D#4')"
			class="st0" width="23" height="120"/>
<rect x="345"
			(touchstart)="playNote('E4')" (touchend)="stopNote('E4')"
			(touchleave)="stopNote('E4')"
			class="st0" width="23" height="120"/>
<rect x="368"
			(touchstart)="playNote('G4')" (touchend)="stopNote('G4')"
			(touchleave)="stopNote('G4')"
			class="st0" width="23" height="120"/>
<rect x="391"
			(touchstart)="playNote('A4')" (touchend)="stopNote('A4')"
			(touchleave)="stopNote('A4')"
			class="st0" width="23" height="120"/>
 <rect x="414"
       (touchstart)="playNote('C5')" (touchend)="stopNote('C5')"
			(touchleave)="stopNote('C5')"
			class="st0" width="23" height="120"/>
<rect x="437"
			(touchstart)="playNote('D5')" (touchend)="stopNote('D5')"
			(touchleave)="stopNote('D5')"
			class="st0" width="23" height="120"/>
<rect x="460"
			(touchstart)="playNote('D#5')" (touchend)="stopNote('D#5')"
			(touchleave)="stopNote('D#5')"
			class="st0" width="23" height="120"/>
<rect x="483"
			(touchstart)="playNote('E5')" (touchend)="stopNote('E5')"
			(touchleave)="stopNote('E5')"
			class="st0" width="23" height="120"/>
<rect x="506"
			(touchstart)="playNote('G5')" (touchend)="stopNote('G5')"
			(touchleave)="stopNote('G5')"
			class="st0" width="23" height="120"/>
<rect x="529"
			(touchstart)="playNote('A5')" (touchend)="stopNote('A5')"
			(touchleave)="stopNote('A5')"
			class="st0" width="23" height="120"/>
</svg>

<svg *ngIf="keyboardType === 'minorblues'" viewBox="0,0,600,150" version="1.1" id="Layer_1"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     style="enable-background:new 0 0 161 120;" xml:space="preserve">
<style type="text/css">
  .st0 {
    fill: #FFFFFF;
    stroke: #000000;
  }

  .st1 {
    stroke: #000000;
  }
</style>
<rect (touchstart)="playNote('C2')"
			(touchend)="stopNote('C2')"
			class="st0" width="23" height="120"/>
<rect x="23"
			(touchstart)="playNote('D#2')"
			(touchend)="stopNote('D#2')"
			class="st0" width="23" height="120"/>
<rect x="46"
			(touchstart)="playNote('F2')" (touchend)="stopNote('F2')"
			(touchleave)="stopNote('F2')"
			class="st0" width="23" height="120"/>
<rect x="69"
			(touchstart)="playNote('F#2')" (touchend)="stopNote('F#2')"
			(touchleave)="stopNote('F#2')"
			class="st0" width="23" height="120"/>
<rect x="92"
			(touchstart)="playNote('G2')" (touchend)="stopNote('G2')"
			(touchleave)="stopNote('G2')"
			class="st0" width="23" height="120"/>
<rect x="115"
			(touchstart)="playNote('A#2')" (touchend)="stopNote('A#2')"
			(touchleave)="stopNote('A#2')"
			class="st0" width="23" height="120"/>

<rect x ="138" (touchstart)="playNote('C3')" (touchend)="stopNote('C3')"
			(touchleave)="stopNote('C3')"
			class="st0" width="23" height="120"/>
<rect x="161"
			(touchstart)="playNote('D#3')" (touchend)="stopNote('D#3')"
			(touchleave)="stopNote('D#3')"
			class="st0" width="23" height="120"/>
<rect x="184"
			(touchstart)="playNote('F3')" (touchend)="stopNote('F3')"
			(touchleave)="stopNote('F3')"
			class="st0" width="23" height="120"/>
<rect x="207"
			(touchstart)="playNote('F#3')" (touchend)="stopNote('F#3')"
			(touchleave)="stopNote('F#3')"
			class="st0" width="23" height="120"/>
<rect x="230"
			(touchstart)="playNote('G3')" (touchend)="stopNote('G3')"
			(touchleave)="stopNote('G3')"
			class="st0" width="23" height="120"/>
<rect x="253"
			(touchstart)="playNote('A#3')" (touchend)="stopNote('A#3')"
			(touchleave)="stopNote('A#3')"
			class="st0" width="23" height="120"/>

<rect x="276"
      (touchstart)="playNote('C4')" (touchend)="stopNote('C4')"
			(touchleave)="stopNote('C4')"
			class="st0" width="23" height="120"/>
<rect x="299"
			(touchstart)="playNote('D#4')" (touchend)="stopNote('D#4')"
			(touchleave)="stopNote('D#4')"
			class="st0" width="23" height="120"/>
<rect x="322"
			(touchstart)="playNote('F4')" (touchend)="stopNote('F4')"
			(touchleave)="stopNote('F4')"
			class="st0" width="23" height="120"/>
<rect x="345"
			(touchstart)="playNote('F#4')" (touchend)="stopNote('F#4')"
			(touchleave)="stopNote('F#4')"
			class="st0" width="23" height="120"/>
<rect x="368"
			(touchstart)="playNote('G4')" (touchend)="stopNote('G4')"
			(touchleave)="stopNote('G4')"
			class="st0" width="23" height="120"/>
<rect x="391"
			(touchstart)="playNote('A#4')" (touchend)="stopNote('A#4')"
			(touchleave)="stopNote('A#4')"
			class="st0" width="23" height="120"/>
 <rect x="414"
       (touchstart)="playNote('C5')" (touchend)="stopNote('C5')"
			(touchleave)="stopNote('C5')"
			class="st0" width="23" height="120"/>
<rect x="437"
			(touchstart)="playNote('D#5')" (touchend)="stopNote('D#5')"
			(touchleave)="stopNote('D#5')"
			class="st0" width="23" height="120"/>
<rect x="460"
			(touchstart)="playNote('F5')" (touchend)="stopNote('F5')"
			(touchleave)="stopNote('F5')"
			class="st0" width="23" height="120"/>
<rect x="483"
			(touchstart)="playNote('F#5')" (touchend)="stopNote('F#5')"
			(touchleave)="stopNote('F#5')"
			class="st0" width="23" height="120"/>
<rect x="506"
			(touchstart)="playNote('G5')" (touchend)="stopNote('G5')"
			(touchleave)="stopNote('G5')"
			class="st0" width="23" height="120"/>
<rect x="529"
			(touchstart)="playNote('A#5')" (touchend)="stopNote('A#5')"
			(touchleave)="stopNote('A#5')"
			class="st0" width="23" height="120"/>


</svg>
