<svg viewBox="0,0,400,150" version="1.1" id="Layer_1"
		 xmlns="http://www.w3.org/2000/svg"
		 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     style="enable-background:new 0 0 161 120;" xml:space="preserve">
<style type="text/css">
	.st0 {
    fill: #FFFFFF;
    stroke: #000000;
  }

  .st1 {
    stroke: #000000;
  }
</style>
<rect (touchstart)="playNote('C3')" (toucddhend)="stopNote('C3')"
			(mousedown)="playNote('C3')" (mouseup)="stopNote('C3')"
			(touchleave)="stopNote('C3')"
			class="st0" width="23" height="120"/>
<rect x="23"
			(touchstart)="playNote('D3')" (touchend)="stopNote('D3')"
			(mousedown)="playNote('D3')" (mouseup)="stopNote('D3')"
			class="st0" width="23" height="120"/>
<rect x="46"
			(touchstart)="playNote('E3')" (touchend)="stopNote('E3')"
			(mousedown)="playNote('E3')" (mouseup)="stopNote('E3')"
			class="st0" width="23" height="120"/>
<rect x="69"
			(touchstart)="playNote('F3')" (touchend)="stopNote('F3')"
			(mousedown)="playNote('F3')" (mouseup)="stopNote('F3')"
			class="st0" width="23" height="120"/>
<rect x="92"
			(touchstart)="playNote('G3')" (touchend)="stopNote('G3')"
			(mousedown)="playNote('G3')" (mouseup)="stopNote('G3')"
			class="st0" width="23" height="120"/>
<rect x="115"
			(touchstart)="playNote('A3')" (touchend)="stopNote('A3')"
			(mousedown)="playNote('A3')" (mouseup)="stopNote('A3')"
			class="st0" width="23" height="120"/>
<rect x="138"
			(touchstart)="playNote('B3')" (touchend)="stopNote('B3')"
			(mousedown)="playNote('B3')" (mouseup)="stopNote('B3')"
			class="st0" width="23" height="120"/>
<rect x="14.3"
			(touchstart)="playNote('C#3')" (touchend)="stopNote('C#3')"
			(mousedown)="playNote('C#3')" (mouseup)="stopNote('C#3')"
			class="st1" width="13" height="80"/>
<rect x="41.7"
			(touchstart)="playNote('D#3')" (touchend)="stopNote('D#3')"
			(mousedown)="playNote('D#3')" (mouseup)="stopNote('D#3')"
			class="st1" width="13" height="80"/>
<rect x="82.2"
			(touchstart)="playNote('F#3')" (touchend)="stopNote('F#3')"
			(mousedown)="playNote('F#3')" (mouseup)="stopNote('F#3')"
			class="st1" width="13" height="80"/>
<rect x="108.2"
			(touchstart)="playNote('G#3')" (touchend)="stopNote('G#3')"
			(mousedown)="playNote('G#3')" (mouseup)="stopNote('G#3')"
			class="st1" width="13" height="80"/>
<rect x="134.8"
			(touchstart)="playNote('A#3')" (touchend)="stopNote('A#3')"
			(mousedown)="playNote('A#3')" (mouseup)="stopNote('A#3')"
			class="st1" width="13" height="80"/>
<rect x="161"
			(touchstart)="playNote('C4')" (touchend)="stopNote('C4')"
			(mousedown)="playNote('C4')" (mouseup)="stopNote('C4')"
			class="st0" width="23" height="120"/>
<rect x="184"
			(touchstart)="playNote('D4')" (touchend)="stopNote('D4')"
			(mousedown)="playNote('D4')" (mouseup)="stopNote('D4')"
			class="st0" width="23" height="120"/>
<rect x="207"
			(touchstart)="playNote('E4')" (touchend)="stopNote('E4')"
			(mousedown)="playNote('E4')" (mouseup)="stopNote('E4')"
			class="st0" width="23" height="120"/>
<rect x="230"
			(touchstart)="playNote('F4')" (touchend)="stopNote('F4')"
			(mousedown)="playNote('F4')" (mouseup)="stopNote('F4')"
			class="st0" width="23" height="120"/>
<rect x="253"
			(touchstart)="playNote('G4')" (touchend)="stopNote('G4')"
			(mousedown)="playNote('G4')" (mouseup)="stopNote('G4')"
			class="st0" width="23" height="120"/>
<rect x="276"
			(touchstart)="playNote('A4')" (touchend)="stopNote('A4')"
			(mousedown)="playNote('A4')" (mouseup)="stopNote('A4')"
			class="st0" width="23" height="120"/>
<rect x="299"
			(touchstart)="playNote('B4')" (touchend)="stopNote('B4')"
			(mousedown)="playNote('B4')" (mouseup)="stopNote('B4')"
			class="st0" width="23" height="120"/>
<rect x="175.3"
			(touchstart)="playNote('C#4')" (touchend)="stopNote('C#4')"
			(mousedown)="playNote('C#4')" (mouseup)="stopNote('C#4')"
			class="st1" width="13" height="80"/>
<rect x="199.7"
			(touchstart)="playNote('D#4')" (touchend)="stopNote('D#4')"
			(mousedown)="playNote('D#4')" (mouseup)="stopNote('D#4')"
			class="st1" width="13" height="80"/>
<rect x="246.2"
			(touchstart)="playNote('F#4')" (touchend)="stopNote('F#4')"
			(mousedown)="playNote('F#4')" (mouseup)="stopNote('F#4')"
			class="st1" width="13" height="80"/>
<rect x="272.2"
			(touchstart)="playNote('G#4')" (touchend)="stopNote('G#4')"
			(mousedown)="playNote('G#4')" (mouseup)="stopNote('G#4')"
			class="st1" width="13" height="80"/>
<rect x="294.8"
			(touchstart)="playNote('A#4')" (touchend)="stopNote('A#4')"
			(mousedown)="playNote('A#4')" (mouseup)="stopNote('A#4')"
			class="st1" width="13" height="80"/>
</svg>
