<div class="topleft container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="piano">Keyboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="blues">Blues</a>
    </li>
    <li class="nav-item">
      <a routerLink="minorblues">Minor Blues</a>
    </li>
    <li class="nav-item">
      <a routerLink="ionian">Ionian</a>
    </li>
    <li class="nav-item">
      <a routerLink="drums">Drum Set</a>
    </li>
  </ul>
  <hr/>
  <polysynth-control-panel></polysynth-control-panel>
  <hr/>
  <router-outlet ></router-outlet>
</div>
